body {
    background-image: url("img/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: aqua;
    font-size: 50px;
}
.botao{
    background-color: blue;
    color: aliceblue;
    border: none;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}